<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link " href="index.html"><i class="bi bi-house"></i> <span data-i18n-key="navbar.home">Home</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="about.html"><span data-i18n-key="navbar.about">About Me</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="projects.html"><span data-i18n-key="navbar.projects">Projects</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="blog.html"><span data-i18n-key="navbar.blogs">Blogs</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="contact.html"><span data-i18n-key="navbar.contact">Contact</span></a>
                </li>
                <li class="nav-item" style="size: 2em;display: flex; align-items: center; padding: 0 0.5rem; margin: 0 0.01rem;">
                    <i class="bi bi-pause" style="color: #a0a0a0; cursor: default;"></i>
                </li>
                <li class="nav-item">
                    <select name="lang" id="lang">
                        <option value="eng">ENG</option>
                        <option value="tr">TR</option>
                    </select>
                </li>
            </ul>
        </div>
    </div>
</nav>